<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookDiary"
        tools:targetApi="31" >
        <activity
            android:name=".IsReadActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActActivity"
            android:exported="false" />
        <activity
            android:name=".GoalsListActivity"
            android:exported="false" />
        <activity
            android:name=".QuoteFormActivity"
            android:exported="false" />
        <activity
            android:name=".GoalFormActivity"
            android:exported="false" />
        <activity
            android:name=".GoalActivity"
            android:exported="false" />
        <activity
            android:name=".QuotesListActivity"
            android:exported="false" />
        <activity
            android:name=".QuizListActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalMainActivity"
            android:exported="false" />
        <activity
            android:name=".BookMainActivity"
            android:exported="true" />
        <activity
            android:name=".BookFormActivity"
            android:exported="false" />
        <activity
            android:name=".QuizMainActivity"
            android:exported="false" />
        <activity
            android:name=".AutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>